/*******************************
**      Table of Contents:
**      0. General styling.
**      1. Page top / intro.
**      2. Profile section.
**      3. Skills section.
**      4. Projects section.
**      5. Musician section.
**      6. Actor section.
**      7. Foodie section.
**      8. Contact section.
**      9. Media queries.
*******************************/

/* Note that much of the styling comes from the 'grayscale' Bootstrap theme. */

/*******************************
**      0. General styling.
*******************************/

* {
    box-sizing: border-box;
}

.general-text {
    background-color: white;
    color: black;
}

/* Fix up some of the 'grayscale' Bootstrap theme to my color scheme. */
.content-section {
    padding-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
    margin: inherit;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid #07889b;
}

p, li, td, th, blockquote, figcaption {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
    font-size: 16px;
    margin: 1em 0;
}

.btn-default {
    border: 1px solid #ff6922;
    color: #ff6922;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #ff6922;
    color: white;
    background-color: #ff6922;
}

a {
    color: #ff6922;
}

a:hover,
a:focus {
    text-decoration: none;
    color: white;
}

button a {
    font-size: 125%;
}

/* Some more general styling. */
.strong {
    font-weight: bold;
}

.italicize {
    font-style: italic;
}

.accent-color, .whats-possible {
    color: #ff6922;
}

/* Vertical center a block of content. */
.vert-center {
    position: relative;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

/*******************************
**      1. Page top / intro.
*******************************/

#brain-image {
    width: 100%;
    max-width: 600px;
    height: auto;
}

#intro-text {
    text-align: right;
}

#headshot-image {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 8px;
}

/*******************************
**      2. Profile section.
*******************************/

#profile-text {
    padding-top: 2em;
    padding-bottom: 2em;
}

#profile-graphics {
    background-color: #eee;
    background-image: url("../images/faded_laptop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#profile-graphics h4 {
    color: black;
    margin: 0 0 1em 0;
    font-weight: 400;
}

/*******************************
**      3. Skills section.
*******************************/

#skills-text {
    padding-top: 2em;
    padding-bottom: 2em;
}

#skills-text h4 {
    margin: 2em 0 1em 0;
}

#skills-text table {
    width: 100%;
}

#skills-graphics {
    background: #eee url("../images/faded_code_sample.jpg") no-repeat;
    background-size: cover;
}

#skills-graphics i {
    font-size: 55px;
    color: black;
}

.skills-row {
    height: 16%;
}

/* Skills in rows with odd counts are fine as they are. */
.skills-triplet {
    display: flex;
    width: 100%;
}

/* Skills in rows with even counts need tweaking to line up with the odd rows. */
.skills-doublet {
    display: flex;
    width: 68%;
    margin-left: 16%;
}

.skill {
    width: 100%;
    text-align: center;
}

/*******************************
**      4. Projects section.
*******************************/
.project-text {
    background-color: white;
    color: black;
    text-align: left;
    padding-top: 2em;
    padding-bottom: 2em;
}

.project-text h4 {
    margin: 2em 0 1em 0;
}

.project-text li {
    font-size: 16px;
}

.project-links {
    text-align: center;
}

#projects .row {
    position: relative;
}

.project-graphics {
    background-color: lightgray;
    text-align: center;
    padding: 0;
}

.project-img {
    max-width: 100%;
    position: relative;
}

/*******************************
**      5. Musician section.
*******************************/

#musician-text {
    padding-top: 2em;
    padding-bottom: 2em;
}

#musician-details {
    background: #eee url("../images/faded_keyboard_mic.jpg") no-repeat;
    background-size: cover;
}

#musician-details blockquote {
    color: #07889b;
    border-left: 5px solid #07889b;
    margin-top: 50px;
}

.album-summary {
    height: 22%;
    min-height: 160px;
    margin-bottom: 16px;
}

.album-cover {
    height: 100%;
}

.album-cover img {
    max-width: 100%;
    max-height: 100%;
}

.album-cover img:hover {
    border: 4px solid #ff6922;
}

.album-title {
    font-style: italic;
}

/* Start with album details hidden. */
#album-1,
#album-2,
#album-3 {
    display: none;
}

.album-contents {
    background: #eee none;
    color: black;
    overflow: hidden;
}

.album-contents h4 {
    margin-top: 20px;
}

.album-contents table,
.album-contents th,
.album-contents td {
    border: 1px solid gray;
    font-size: 11px;
    padding: 0 0.2em;
}

.album-contents p,
.album-contents li {
    font-size: 10px;
}

/*******************************
**      6. Actor section.
*******************************/

#actor-text {
    padding-top: 2em;
    padding-bottom: 2em;
}

#actor-text h4 {
    color: black;
    margin: 0 0 1em 0;
    font-weight: 400;
}

#actor-text blockquote {
    color: #07889b;
    border-left: 5px solid #07889b;
    margin-top: 50px;
}

#actor-resume-div {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#actor-graphics {
    background-color: #eee;
    color: black;
}

#actor-graphics figure {
    margin-top: 10px;
    margin-bottom: 10px;
}

.role-img {
    width: 100%;
}

.role {
    font-weight: bold;
}

.play-title {
    font-style: italic;
}

/*******************************
**      7. Foodie section.
*******************************/

#foodie-text {
    padding-top: 2em;
    padding-bottom: 2em;
}

#foodie-text blockquote {
    color: #07889b;
    border-left: 5px solid #07889b;
    margin-top: 20px;
}

#foodie-text td {
    padding-left: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#foodie-details {
    color: black;
    background: #eee url("../images/faded_food.png") no-repeat;
    background-size: cover;
}

/* Start with three of the foodie galleries hidden. */
#foodie-1,
#foodie-2,
#foodie-3 {
    display: none;
}

.foodie-gallery h3,
.foodie-gallery h4 {
    margin-top: 20px;
}

.foodie-gallery img {
    width: 100%;
}

/*******************************
**      8. Contact section.
*******************************/

#contact-text {
    padding-top: 2em;
    padding-bottom: 2em;
}

#contact-graphics {
    background-color: black;
}

#contact-table {
    width: 100%;
}

#contact-table td:first-child {
    font-size: 125%;
    padding-right: 1em;
    text-align: right;
}

#contact-table td:last-child {
    font-size: 200%;
    padding-right: 1em;
    padding-left: 1em;
    text-align: center;
}

/*******************************
**      9. Media queries.
*******************************/

@media screen and (max-width: 767px) {
    #brain-image {
        margin-top: 0;
    }

    /* Disable vertical center on mobile, as the path-mh height is disabled. */
    .vert-center {
        position: inherit;
        top: inherit;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    /* Set contact table to fit better in mobile. */
    #contact-table td:first-child {
        font-size: 100%;
    }

    #contact-table td:last-child {
        font-size: 100%;
    }

}
