<div id="foodie">
    <div class="col-xs-12 main-title">
        <h2 class="page-title">Foodie</h2>
        <blockquote>"One cannot think well, love well, sleep well, if one has not dined well."
            <br>
            &mdash; Virginia Woolf, <cite>A Room of One's Own</cite></blockquote>
        <hr>
        <h3>Click on any category for more details and pictures.</h3>
    </div>

    <div class="col-xs-12 col-sm-6 foodie-category" ng-click="fc.showSuperMealDetails = !fc.showSuperMealDetails">
        <h3>
            <img ng-if="ec.showSuperMealDetails" src="images/collapse.png" class="expand-collapse">
            <img ng-if="!ec.showSuperMealDetails" src="images/expand.png" class="expand-collapse">
            SuperMeals
        </h3>
        <p>Restaurants that have &mdash; or should have &mdash; Michelin stars.</p>
        <div class="col-xs-12" ng-show="fc.showSuperMealDetails">
            <h4>The French Laundry (Yountville, CA)</h4>
            <p>The only three-star Michelin restaurant in the western United States, and a bucket list item that
                we finally did in 2015.</p>
            <img class="foodie-img" src="images/IMG_1360.JPG">
            <p>Here is their signature starter: it is called Oysters and pearls. The base is a warm tapioca. On the
                left is the oyster, and the "pearls" are white sturgeon caviar. Absolutely sublime.</p>
            <hr>
            <h4>N/Naka (Santa Monica, CA)</h4>
            <p>We first saw this restaurant on the Netflix special "Chef's Table" about check Niki Nakayama, who
                definitely is both a culinary and visual artist with the food. Omakase dining at its finest,
                especially with the wine and sake pairing.</p>
            <img class="foodie-img" src="images/IMG_0457.JPG">
            <p>An appetizer course: top left is a paper-wrapped shrimp that you dip in the sauce at bottom left.
                At top is the jellyfish which, I have to admit, I was somewhat scared to try, but it had a delightful
                pepper flavor added. At bottom is a lovely black cod bite. On the right is the squid, which you dip
                in the quail egg stirred into the octopus ink.</p>
            <hr>
            <h4>Melisse (Santa Monica, CA)</h4>
            <p>We first went here on a getaway weekend to Santa Monica, and we were so impressed that we have already
                been back twice.</p>
            <img class="foodie-img" src="images/IMG_0402.JPG">
            <p>Truffle risotto with mascarpone cheese. An upgrade to the menu they call "The Ten", but worth it.</p>
            <hr>
            <h4>Ku'uk (Merida, Yucatan, Mexico)</h4>
            <p>This restaurant specialized in experimental textures based on traditional Mayan ingredients, and
                courses that were tributes to the Mayan heritage.</p>
            <img class="foodie-img" src="images/kuuk06.JPG">
            <p>This is called the "Sacred Natural Well". An amazing white fish presented in chlorophyll juice, white
                cucumber, and citric clover. This is meant to represent a "cenote", the Mayan underground water wells
                in their cities. At your table, they add the "gift to the gods", which is a 24k gold-crusted pea
                (yes, you eat the gold as well).</p>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 foodie-category" ng-click="fc.showFineDiningDetails = !fc.showFineDiningDetails">
        <h3>
            <img ng-if="ec.showFineDiningDetails" src="images/collapse.png" class="expand-collapse">
            <img ng-if="!ec.showFineDiningDetails" src="images/expand.png" class="expand-collapse">
            Fine Dining
        </h3>
        <p>Favorite fine dining in the Orange County area.</p>
        <div class="col-xs-12" ng-show="fc.showFineDiningDetails">
            <h4>Marche Moderne (in South Coast Plaza)</h4>
            <p>Great French food in a fairly casual setting in South Coast Plaza. They do everything to perfection,
                including a wonderful cheese tray as an appetizer or dessert.</p>
            <img class="foodie-img" src="images/MarcheModerne.jpg">
            <hr>
            <h4>Morton's (in South Coast Village</h4>
            <p>Morton's has a soft spot in our hearts, being one of the first indulgent meals that started us on the
                foodie journey of exploration. Hard to believe that, before then, I didn't even know that such a
                quality of steak even existed. You must try the bacon-wrapped scallops with mango chutney.</p>
            <img class="foodie-img" src="images/Mortons.jpg">
            <hr>
            <h4>Anaheim White House (by Disneyland)</h4>
            <p>We have had several magical evenings at the White House, including Kimberly's 50th birthday party.</p>
            <img class="foodie-img" src="images/AnaheimWhiteHouse.jpg">
            <hr>
            <h4>Fleming's (Fashion Island)</h4>
            <p>Fleming's just has the best prime rib around, especially with their horseradish sauce. You must also
                have the Fleming's potatoes: au gratin with bits of jalapeno.</p>
            <img class="foodie-img" src="images/Heather2016.jpg">
            <p>A shot from taking Heather out for her birthday.</p>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 foodie-category" ng-click="fc.showCasualDiningDetails = !fc.showCasualDiningDetails">
        <h3>
            <img ng-if="ec.showCasualDiningDetails" src="images/collapse.png" class="expand-collapse">
            <img ng-if="!ec.showCasualDiningDetails" src="images/expand.png" class="expand-collapse">
            Casual Dining
        </h3>
        <p>Food doesn't have to be expensive to be good.</p>
        <div class="col-xs-12" ng-show="fc.showCasualDiningDetails">
            <h4>Dublin 4 Gastropub (Laguna Niguel)</h4>
            <p>A rotating selection of beers on tap, paired with great comfort food. They have the best hamburger in
                town, and they make a great Reuben sandwich, even though they specialize in traditional Irish fair
                such as meat pies and fish and chips.</p>
            <img class="foodie-img" src="images/Dublin4.png">
            <hr>
            <h4>Bella Cuba (by South Coast Plaza)</h4>
            <p>By far the best roast chicken to be had in the county. We go here almost every time we are heading to
                South Coast Repertory for a play, and split a half roast chicken. Garlic and citrus sauce, with raw
                onions on top, and tasty black beans and rice on the side.</p>
            <img class="foodie-img" src="images/BellaCuba.jpg">
            <hr>
            <h4>Natraj (Laguna Hills)</h4>
            <p>Our favorite Indian food. We have tried to sample other people's dishes, but keep coming back to the
                checken tikka masala paired with saag paneer.</p>
            <img class="foodie-img" src="images/Natraj.jpg">
            <hr>
            <h4>Thaitanium (Laguna Hills)</h4>
            <p>A new addition to our favorties, and so close to home! All of the appetizers are good, but the yellow
                curry is as addictive as crack.</p>
            <img class="foodie-img" src="images/Thaitanium.jpg">
            <hr>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 foodie-category" ng-click="fc.showOtherFoodFunDetails = !fc.showOtherFoodFunDetails">
        <h3>
            <img ng-if="ec.showOtherFoodFunDetails" src="images/collapse.png" class="expand-collapse">
            <img ng-if="!ec.showOtherFoodFunDetails" src="images/expand.png" class="expand-collapse">
            Other Food Fun
        </h3>
        <p>Cooking parties and food tours.</p>
        <div class="col-xs-12" ng-show="fc.showOtherFoodFunDetails">
            <h4>The "MTI" Cooking Party</h4>
            <p>We have been celebrating cooking with our friends for almost 20 years, since four of us all worked together
                at MTI.</p>
            <img class="foodie-img" src="images/IMG_0648.JPG">
            <hr>
            <h4>Food Walking Tours</h4>
            <p>We highly recommend food walking tours as a way to explore a new city.  We have done tours in Boston,
                New Orleans, and Napa, and they have all been great experiences. Here we are sampling a few local
                cheeses and beers on the tour in Napa.</p>
            <img class="foodie-img" src="images/IMG_1426.JPG">
            <hr>
        </div>
    </div>
</div>
