<div id="musician">
    <div class="col-xs-12 main-title">
        <h2 class="page-title">Musician</h2>
        <blockquote>"Musicians want to be the loud voice for so many quiet hearts."
            <br>
            &mdash; Billy Joel</blockquote>
        <hr>
        <p>Click on any album cover to open the playlist.</p>
    </div>
    <div class="col-xs-12 col-sm-4 album-cover">
        <h4>2003 - Imitate the Sun</h4>
        <p>A collection of inspiration music including six originals and six covers.</p>
        <img src="albums/ImitateTheSun/cdfrontcover.jpg" ng-click="mc.showImitateTheSun = !mc.showImitateTheSun">
        <div class="col-xs-12 album-contents" ng-show="mc.showImitateTheSun">
            <br>
            <table>
                <tr>
                    <td rowspan="2">
                        <div>1</div>
                    </td>
                    <td>Imitate The Sun</td>
                    <td>
                        <div><a href="albums/ImitateTheSun/lyricsimitatethesun.html" target="_blank"><img src="images/lyricsicon.png"></a></div>
                    </td>
                    <td>
                        <div><a href="albums/ImitateTheSun/imitatethesun.mp3" target="_blank"><img src="images/musicicon.png"></a></div>
                    </td>
                </tr>
                <tr>
                    <td>Leslie Bricusse &amp; Allen Jay Friedman</td>
                    <td>
                        <div><a href="albums/ImitateTheSun/lyricsimitatethesun.html" target="_blank">Lyrics</a></div>
                    </td>
                    <td>
                        <div><a href="albums/ImitateTheSun/imitatethesun.mp3" target="_blank">Sample</a></div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <div>2</div>
                    </td>
                    <td>You, Me &amp; Spirit</td>
                    <td>
                        <div><a href="albums/ImitateTheSun/lyricsyoumeandspirit.html" target="_blank"><img src="images/lyricsicon.png"></a></div>
                    </td>
                    <td>
                        <div><a href="albums/ImitateTheSun/youmeandspirit.mp3" target="_blank"><img src="images/musicicon.png"></a></div>
                    </td>
                </tr>
                <tr>
                    <td>Wade R. Wooldridge</td>
                    <td>
                        <div><a href="albums/ImitateTheSun/lyricsyoumeandspirit.html" target="_blank">Lyrics</a></div>
                    </td>
                    <td>
                        <div><a href="albums/ImitateTheSun/youmeandspirit.mp3" target="_blank">Sample</a></div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <div>3</div>
                    </td>
                    <td>Our Thoughts Are Prayers</td>
                    <td>
                        <div><a href="albums/ImitateTheSun/lyricsourthoughtsareprayers.html" target="_blank"><img src="images/lyricsicon.png"></a></div>
                    </td>
                    <td>
                        <div><a href="albums/ImitateTheSun/ourthoughtsareprayers.mp3" target="_blank"><img src="images/musicicon.png"></a></div>
                    </td>
                </tr>
                <tr>
                    <td>Lucille K. Olson</td>
                    <td>
                        <div><a href="albums/ImitateTheSun/lyricsourthoughtsareprayers.html" target="_blank">Lyrics</a></div>
                    </td>
                    <td>
                        <div><a href="albums/ImitateTheSun/ourthoughtsareprayers.mp3" target="_blank">Sample</a></div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <div>4</div>
                    </td>
                    <td>True Romance</td>
                    <td>
                        <div><a href="albums/ImitateTheSun/lyricstrueromance.html" target="_blank"><img src="images/lyricsicon.png"></a></div>
                    </td>
                    <td>
                        <div><a href="albums/ImitateTheSun/trueromance.mp3" target="_blank"><img src="images/musicicon.png"></a></div>
                    </td>
                </tr>
                <tr>
                    <td>Wade R. Wooldridge</td>
                    <td>
                        <div><a href="albums/ImitateTheSun/lyricstrueromance.html" target="_blank">Lyrics</a></div>
                    </td>
                    <td>
                        <div><a href="albums/ImitateTheSun/trueromance.mp3" target="_blank">Sample</a></div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <div>5</div>
                    </td>
                    <td>My Little Space</td>
                    <td>
                        <div><a href="albums/ImitateTheSun/lyricsmylittlespace.html" target="_blank"><img src="images/lyricsicon.png"></a></div>
                    </td>
                    <td>
                        <div><a href="albums/ImitateTheSun/mylittlespace.mp3" target="_blank"><img src="images/musicicon.png"></a></div>
                    </td>
                </tr>
                <tr>
                    <td>Wade R. Wooldridge</td>
                    <td>
                        <div><a href="albums/ImitateTheSun/lyricsmylittlespace.html" target="_blank">Lyrics</a></div>
                    </td>
                    <td>
                        <div><a href="albums/ImitateTheSun/mylittlespace.mp3" target="_blank">Sample</a></div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <div>6</div>
                    </td>
                    <td>Welcome To My Morning</td>
                    <td>
                        <div><a href="albums/ImitateTheSun/lyricswelcometomymorning.html" target="_blank"><img src="images/lyricsicon.png"></a></div>
                    </td>
                    <td>
                        <div><a href="albums/ImitateTheSun/welcometomymorning.mp3" target="_blank"><img src="images/musicicon.png"></a></div>
                    </td>
                </tr>
                <tr>
                    <td>John Denver</td>
                    <td>
                        <div><a href="albums/ImitateTheSun/lyricswelcometomymorning.html" target="_blank">Lyrics</a></div>
                    </td>
                    <td>
                        <div><a href="albums/ImitateTheSun/welcometomymorning.mp3" target="_blank">Sample</a></div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <div>7</div>
                    </td>
                    <td>Pure Imagination</td>
                    <td>
                        <div><a href="albums/ImitateTheSun/lyricspureimagination.html" target="_blank"><img src="images/lyricsicon.png"></a></div>
                    </td>
                    <td>
                        <div><a href="albums/ImitateTheSun/pureimagination.mp3" target="_blank"><img src="images/musicicon.png"></a></div>
                    </td>
                </tr>
                <tr>
                    <td>Leslie Bricusse &amp; Anthony Newley</td>
                    <td>
                        <div><a href="albums/ImitateTheSun/lyricspureimagination.html" target="_blank">Lyrics</a></div>
                    </td>
                    <td>
                        <div><a href="albums/ImitateTheSun/pureimagination.mp3" target="_blank">Sample</a></div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <div>8</div>
                    </td>
                    <td>Out Of Nothing</td>
                    <td>
                        <div><a href="albums/ImitateTheSun/lyricsoutofnothing.html" target="_blank"><img src="images/lyricsicon.png"></a></div>
                    </td>
                    <td>
                        <div><a href="albums/ImitateTheSun/outofnothing.mp3" target="_blank"><img src="images/musicicon.png"></a></div>
                    </td>
                </tr>
                <tr>
                    <td>Kimberly &amp; Wade R. Wooldridge</td>
                    <td>
                        <div><a href="albums/ImitateTheSun/lyricsoutofnothing.html" target="_blank">Lyrics</a></div>
                    </td>
                    <td>
                        <div><a href="albums/ImitateTheSun/outofnothing.mp3" target="_blank">Sample</a></div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <div>9</div>
                    </td>
                    <td>Thank You For Sharing</td>
                    <td>
                        <div><a href="albums/ImitateTheSun/lyricsthankyouforsharing.html" target="_blank"><img src="images/lyricsicon.png"></a></div>
                    </td>
                    <td>
                        <div><a href="albums/ImitateTheSun/thankyouforsharing.mp3" target="_blank"><img src="images/musicicon.png"></a></div>
                    </td>
                </tr>
                <tr>
                    <td>Dale Gonyea &amp; Nikki Byers</td>
                    <td>
                        <div><a href="albums/ImitateTheSun/lyricsthankyouforsharing.html" target="_blank">Lyrics</a></div>
                    </td>
                    <td>
                        <div><a href="albums/ImitateTheSun/thankyouforsharing.mp3" target="_blank">Sample</a></div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <div>10</div>
                    </td>
                    <td>Woman-Child</td>
                    <td>
                        <div><a href="albums/ImitateTheSun/lyricswomanchild.html" target="_blank"><img src="images/lyricsicon.png"></a></div>
                    </td>
                    <td>
                        <div><a href="albums/ImitateTheSun/womanchild.mp3" target="_blank"><img src="images/musicicon.png"></a></div>
                    </td>
                </tr>
                <tr>
                    <td>Wade R. Wooldridge</td>
                    <td>
                        <div><a href="albums/ImitateTheSun/lyricswomanchild.html" target="_blank">Lyrics</a></div>
                    </td>
                    <td>
                        <div><a href="albums/ImitateTheSun/womanchild.mp3" target="_blank">Sample</a></div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <div>11</div>
                    </td>
                    <td>Stand Upon My Shoulders</td>
                    <td>
                        <div><a href="albums/ImitateTheSun/lyricsstanduponmyshoulders.html" target="_blank"><img src="images/lyricsicon.png"></a></div>
                    </td>
                    <td>
                        <div><a href="albums/ImitateTheSun/standuponmyshoulders.mp3" target="_blank"><img src="images/musicicon.png"></a></div>
                    </td>
                </tr>
                <tr>
                    <td>Wade R. Wooldridge</td>
                    <td>
                        <div><a href="albums/ImitateTheSun/lyricsstanduponmyshoulders.html" target="_blank">Lyrics</a></div>
                    </td>
                    <td>
                        <div><a href="albums/ImitateTheSun/standuponmyshoulders.mp3" target="_blank">Sample</a></div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <div>12</div>
                    </td>
                    <td>Heal Me</td>
                    <td>
                        <div><a href="albums/ImitateTheSun/lyricshealme.html" target="_blank"><img src="images/lyricsicon.png"></a></div>
                    </td>
                    <td>
                        <div><a href="albums/ImitateTheSun/healme.mp3" target="_blank"><img src="images/musicicon.png"></a></div>
                    </td>
                </tr>
                <tr>
                    <td>Kevin Stokes &amp; Connie Harrington</td>
                    <td>
                        <div><a href="albums/ImitateTheSun/lyricshealme.html" target="_blank">Lyrics</a></div>
                    </td>
                    <td>
                        <div><a href="albums/ImitateTheSun/healme.mp3" target="_blank">Sample</a></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 album-cover">
        <h4>2016 - Bits Of Me</h4>
        <p>A collection of ten songs that are personal to me, including five originals.</p>
        <img src="albums/BitsOfMe/BitsOfMe.jpg" ng-click="mc.showBitsOfMe = !mc.showBitsOfMe">
        <div class="col-xs-12 album-contents" ng-show="mc.showBitsOfMe">
            <br>
            <table>
                <tr>
                    <td rowspan="3">
                        <div>1</div>
                    </td>
                    <td colspan="2">Farewell, Andromeda (Welcome to My Morning) </td>
                    <td>
                        <div><a href="albums/BitsOfMe/01%20Track%2001.m4a" target="_blank"><img src="images/musicicon.png"></a></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">John Denver</td>
                    <td>
                        <div><a href="albums/BitsOfMe/01%20Track%2001.m4a" target="_blank">Sample</a></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">The first song that Wade sang when starting to tour churches.</td>
                </tr>
                <tr>
                    <td rowspan="3">
                        <div>2</div>
                    </td>
                    <td>I Set You Free</td>
                    <td>
                        <div><a href="albums/BitsOfMe/lyricsisetyoufree.html" target="_blank"><img src="images/lyricsicon.png"></a></div>
                    </td>
                    <td>
                        <div><a href="albums/BitsOfMe/02%20Track%2002.m4a" target="_blank"><img src="images/musicicon.png"></a></div>
                    </td>
                </tr>
                <tr>
                    <td>Wade Wooldridge</td>
                    <td>
                        <div><a href="albums/BitsOfMe/lyricsisetyoufree.html" target="_blank">Lyrics</a></div>
                    </td>
                    <td>
                        <div><a href="albums/BitsOfMe/02%20Track%2002.m4a" target="_blank">Sample</a></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">For Wade's sons as they reached their adolescent crises.
                    </td>
                </tr>
                <tr>
                    <td rowspan="3">
                        <div>3</div>
                    </td>
                    <td colspan="2">Change Your Mind</td>
                    <td>
                        <div><a href="albums/BitsOfMe/03%20Track%2003.m4a" target="_blank"><img src="images/musicicon.png"></a></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Sister Hazel</td>
                    <td>
                        <div><a href="albums/BitsOfMe/03%20Track%2003.m4a" target="_blank">Sample</a></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">From the &quot;Mothers of Intention&quot; song list.</td>
                </tr>
                <tr>
                    <td rowspan="3">
                        <div>4</div>
                    </td>
                    <td>I Like Our Way Better</td>
                    <td>
                        <div><a href="albums/BitsOfMe/lyricsilikeourwaybetter.html" target="_blank"><img src="images/lyricsicon.png"></a></div>
                    </td>
                    <td>
                        <div><a href="albums/BitsOfMe/04%20Track%2004.m4a" target="_blank"><img src="images/musicicon.png"></a></div>
                    </td>
                </tr>
                <tr>
                    <td>Wade Wooldridge</td>
                    <td>
                        <div><a href="albums/BitsOfMe/lyricsilikeourwaybetter.html" target="_blank">Lyrics</a></div>
                    </td>
                    <td>
                        <div><a href="albums/BitsOfMe/04%20Track%2004.m4a" target="_blank">Sample</a></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">For Kimberly's birthday, celebrating all the wonderful things we share.</td>
                </tr>
                <tr>
                    <td rowspan="3">
                        <div>5</div>
                    </td>
                    <td>In Another World</td>
                    <td>
                        <div><a href="albums/BitsOfMe/lyricsinanotherworld.html" target="_blank"><img src="images/lyricsicon.png"></a></div>
                    </td>
                    <td>
                        <div><a href="albums/BitsOfMe/05%20Track%2005.m4a" target="_blank"><img src="images/musicicon.png"></a></div>
                    </td>
                </tr>
                <tr>
                    <td>Wade Wooldridge</td>
                    <td>
                        <div><a href="albums/BitsOfMe/lyricsinanotherworld.html" target="_blank">Lyrics</a></div>
                    </td>
                    <td>
                        <div><a href="albums/BitsOfMe/05%20Track%2005.m4a" target="_blank">Sample</a></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">For Wade's son Mark after his suicide.</td>
                </tr>
                <tr>
                    <td rowspan="3">
                        <div>6</div>
                    </td>
                    <td>Hanyo Blues</td>
                    <td>
                        <div><a href="albums/BitsOfMe/lyricshanyoblues.html" target="_blank"><img src="images/lyricsicon.png"></a></div>
                    </td>
                    <td>
                        <div><a href="albums/BitsOfMe/06%20Track%2006.m4a" target="_blank"><img src="images/musicicon.png"></a></div>
                    </td>
                </tr>
                <tr>
                    <td>Wade Wooldridge and Kimberly Wooldridge</td>
                    <td>
                        <div><a href="albums/BitsOfMe/lyricshanyoblues.html" target="_blank">Lyrics</a></div>
                    </td>
                    <td>
                        <div><a href="albums/BitsOfMe/06%20Track%2006.m4a" target="_blank">Sample</a></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">For Han's birthday, celebrating all his greatness.</td>
                </tr>
                <tr>
                    <td rowspan="3">
                        <div>7</div>
                    </td>
                    <td colspan="2">Gethsemane</td>
                    <td>
                        <div><a href="albums/BitsOfMe/07%20Track%2007.m4a" target="_blank"><img src="images/musicicon.png"></a></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Andrew Lloyd Webber, from &quot;Jesus Christ, Superstar&quot;</td>
                    <td>
                        <div><a href="albums/BitsOfMe/07%20Track%2007.m4a" target="_blank">Sample</a></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">From the CSLCV Palm Sunday productions of &quot;Superstar&quot;.<br>
                    </td>
                </tr>
                <tr>
                    <td rowspan="3">
                        <div>8</div>
                    </td>
                    <td colspan="2">Hallelujah</td>
                    <td>
                        <div><a href="albums/BitsOfMe/08%20Track%2008.m4a" target="_blank"><img src="images/musicicon.png"></a></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Leonard Cohen</td>
                    <td>
                        <div><a href="albums/BitsOfMe/08%20Track%2008.m4a" target="_blank">Sample</a></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">First sung with Wade's son Mark, done here with Kimberly and Allendale.</td>
                </tr>
                <tr>
                    <td rowspan="3">
                        <div>9</div>
                    </td>
                    <td colspan="2">Only Time</td>
                    <td>
                        <div><a href="albums/BitsOfMe/09%20Track%2009.m4a" target="_blank"><img src="images/musicicon.png"></a></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Enya</td>
                    <td>
                        <div><a href="albums/BitsOfMe/09%20Track%2009.m4a" target="_blank">Sample</a></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">Because no album is complete without a duet with Kimberly.</td>
                </tr>
                <tr>
                    <td rowspan="3">
                        <div>10</div>
                    </td>
                    <td>Sagittarius</td>
                    <td>
                        <div><a href="albums/BitsOfMe/lyricssagittarius.html" target="_blank"><img src="images/lyricsicon.png"></a></div>
                    </td>
                    <td>
                        <div><a href="albums/BitsOfMe/10%20Track%2010.m4a" target="_blank"><img src="images/musicicon.png"></a></div>
                    </td>
                </tr>
                <tr>
                    <td>Wade Wooldridge</td>
                    <td>
                        <div><a href="albums/BitsOfMe/lyricssagittarius.html" target="_blank">Lyrics</a></div>
                    </td>
                    <td>
                        <div><a href="albums/BitsOfMe/10%20Track%2010.m4a" target="_blank">Sample</a></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">A song Wade wrote while traveling in Sicily.</td>
                </tr>
            </table>
            <br>
            <p>Featuring:</p>
            <ul>
                <li>Music Director and Arranger: Diane King Vann</li>
                <li>Sound Engineer: Keith Taylor, Custom Taylored Studios</li>
                <li>Band: Diane King Vann (keyboards), Ed Kusby (guitar), Bill Dickson
                    (bass), David Page (drums)</li>
                <li>Addition Vocals: Kimberly Wooldridge, Karyn Allen, Rick Dale</li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 album-cover">
        <h4>2016 - Dreamscape</h4>
        <p>Twelve Broadway favorites, from shows that I have done or at least wish I had.</p>
        <img src="albums/Dreamscape/Dreamscape.jpg" ng-click="mc.showDreamscape = !mc.showDreamscape">
        <div class="col-xs-12 album-contents" ng-show="mc.showDreamscape">
            <br>
            <table>
                <tr>
                    <td rowspan="2">
                        <div>1</div>
                    </td>
                    <td>Dreamscape</td>
                    <td>
                        <div><a href="albums/Dreamscape/01%20Track%2001.m4a"><img src="images/musicicon.png"></a></div>
                    </td>
                </tr>
                <tr>
                    <td>Stephen Schwartz, from &quot;Reluctant
                        Pilgrim&quot;</td>
                    <td>
                        <div><a href="albums/Dreamscape/01%20Track%2001.m4a">Sample</a></div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <div>2</div>
                    </td>
                    <td>Anthem</td>
                    <td>
                        <div><a href="albums/Dreamscape/02%20Track%2002.m4a"><img src="images/musicicon.png"></a></div>
                    </td>
                </tr>
                <tr>
                    <td>ABBA, from &quot;Chess&quot;</td>
                    <td>
                        <div><a href="albums/Dreamscape/02%20Track%2002.m4a">Sample</a></div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <div>3</div>
                    </td>
                    <td>I Am I, Don Quixote</td>
                    <td>
                        <div><a href="albums/Dreamscape/03%20Track%2003.m4a"><img src="images/musicicon.png"></a></div>
                    </td>
                </tr>
                <tr>
                    <td>Wasserman / Darion / Leigh, from &quot;Man
                        of La Mancha&quot;</td>
                    <td>
                        <div><a href="albums/Dreamscape/03%20Track%2003.m4a">Sample</a></div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <div>4</div>
                    </td>
                    <td>Chanson</td>
                    <td>
                        <div><a href="albums/Dreamscape/04%20Track%2004.m4a"><img src="images/musicicon.png"></a></div>
                    </td>
                </tr>
                <tr>
                    <td>Stephen Schwartz, from &quot;The Baker's
                        Wife&quot; </td>
                    <td>
                        <div><a href="albums/Dreamscape/04%20Track%2004.m4a">Sample</a></div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <div>5</div>
                    </td>
                    <td>Married</td>
                    <td>
                        <div><a href="albums/Dreamscape/05%20Track%2005.m4a"><img src="images/musicicon.png"></a></div>
                    </td>
                </tr>
                <tr>
                    <td>Kander &amp; Ebb, from &quot;Cabaret&quot;</td>
                    <td>
                        <div><a href="albums/Dreamscape/05%20Track%2005.m4a">Sample</a></div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <div>6</div>
                    </td>
                    <td>Shouldn't I Be Less In Love With
                        You?</td>
                    <td>
                        <div><a href="albums/Dreamscape/06%20Track%2006.m4a"><img src="images/musicicon.png"></a></div>
                    </td>
                </tr>
                <tr>
                    <td>Joe DiPietro, from &quot;I Love You,
                        You're Perfect, Now Change&quot;</td>
                    <td>
                        <div><a href="albums/Dreamscape/06%20Track%2006.m4a">Sample</a></div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <div>7</div>
                    </td>
                    <td>Agony</td>
                    <td>
                        <div><a href="albums/Dreamscape/07%20Track%2007.m4a"><img src="images/musicicon.png"></a></div>
                    </td>
                </tr>
                <tr>
                    <td>Stephen Sondheim, from &quot;Into the
                        Woods&quot; </td>
                    <td>
                        <div><a href="albums/Dreamscape/07%20Track%2007.m4a">Sample</a></div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <div>8</div>
                    </td>
                    <td>The Mason</td>
                    <td>
                        <div><a href="albums/Dreamscape/08%20Track%2008.m4a"><img src="images/musicicon.png"></a></div>
                    </td>
                </tr>
                <tr>
                    <td>Craig Carnelia, from &quot;Working&quot;</td>
                    <td>
                        <div><a href="albums/Dreamscape/08%20Track%2008.m4a">Sample</a></div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <div>9</div>
                    </td>
                    <td>It's Not Where You Start</td>
                    <td>
                        <div><a href="albums/Dreamscape/09%20Track%2009.m4a"><img src="images/musicicon.png"></a></div>
                    </td>
                </tr>
                <tr>
                    <td>Cy Coleman &amp; Dorothy Fields, from
                        &quot;Seesaw&quot; </td>
                    <td>
                        <div><a href="albums/Dreamscape/09%20Track%2009.m4a">Sample</a></div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <div>10</div>
                    </td>
                    <td>Bring Him Home</td>
                    <td>
                        <div><a href="albums/Dreamscape/10%20Track%2010.m4a"><img src="images/musicicon.png"></a></div>
                    </td>
                </tr>
                <tr>
                    <td>Claude-Michel Schoenberg, from &quot;Les
                        Miserables&quot; </td>
                    <td>
                        <div><a href="albums/Dreamscape/10%20Track%2010.m4a">Sample</a></div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <div>11</div>
                    </td>
                    <td>Where is the Life That Late I Led?</td>
                    <td>
                        <div><a href="albums/Dreamscape/11%20Track%2011.m4a"><img src="images/musicicon.png"></a></div>
                    </td>
                </tr>
                <tr>
                    <td>Cole Port, from &quot;Kiss Me, Kate&quot;</td>
                    <td>
                        <div><a href="albums/Dreamscape/11%20Track%2011.m4a">Sample</a></div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <div>12</div>
                    </td>
                    <td>Being Alive</td>
                    <td>
                        <div><a href="albums/Dreamscape/12%20Track%2012.m4a"><img src="images/musicicon.png"></a></div>
                    </td>
                </tr>
                <tr>
                    <td>Stephen Sondheim, from &quot;Company&quot;</td>
                    <td>
                        <div><a href="albums/Dreamscape/12%20Track%2012.m4a">Sample</a></div>
                    </td>
                </tr>
            </table>
            <br>
            <p>Featuring:</p>
            <ul>
                <li>Music Director and Arranger: Diane King Vann</li>
                <li>Sound Engineer: Keith Taylor, Custom Taylored Studios</li>
                <li>Band: Diane King Vann (keyboards), Ed Kusby (guitar), Bill Dickson
                    (bass), David Page (drums)</li>
                <li>Addition Vocals: Kimberly Wooldridge, Karyn Allen, Rick Dale</li>
            </ul>
        </div>
    </div>
</div>
