/* General styling used throughout the pages.
   Pad the body because of the fixed nav bar. */
body {
    padding-top: 50px;
    background-color: #e0e0e0;
}

.page-title {
}

.strong {
    font-weight: bold;
}

.italicize {
    font-style: italic;
}

/* Menu bar formatting. */
.nav-divider-left-md {
    border-left: 2px solid lightgray;
}

.nav-divider-right-md {
    border-right: 2px solid #e0e0e0;
}

/* Menu bar overrides for mobile. */
@media screen and (max-width: 767px) {
    .nav-divider-left-md {
        border-left: inherit;
    }

    .nav-divider-right-md {
        border-right: inherit;
    }

    .nav-divider-bottom-xs {
        border-bottom: 2px solid #e0e0e0;
    }
}

/* Styling specific to the Welcome page. */
#welcome-page img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Styling specific to the Musician page. */
.col-xs-12 .col-xs-12 {
    padding: 0;
}

.album-cover img {
    height: 250px;
    width: auto;
    max-width: 250px;
    overflow: hidden;
}

.album-contents img {
    height: 25px;
    width: 25px;
}

.album-contents table,
.album-contents th,
.album-contents td {
    border: 1px solid black;
    padding: 0 0.2em;
}

/* Bootstrap formatting overrides. */

.carousel-inner > .item > figure > img {
    height: 300px;
    margin: auto;
}

/* Pad the sections and add bottom borders. */
section {
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 2px solid darkgray;
}

/* Styling for About Me section. */
#about_me p {
    font-size: 125%;
}

/* Styling for Skills section. */
#skills th, #skills td, #skills p {
    padding-left: 2em;
}

/* Styling for Projects section. */
#projects figure {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

/* Animation of buttons over project thumbnails. */
#projects figcaption {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition-duration: 1s;
    opacity: 0;
    background-color: rgba(255,255,255,0.6);
}

#projects figure:hover figcaption {
    opacity: 1;
    transform: translateY(0%);
    transition: 0.5s;
}

/* Styling for Contact Me section. */
#contact-table img {
    height: 30px;
    margin-bottom: 4px;
}

#contact-table td {
    font-size: 125%;
    padding-left: 1em;
}
