/* General styling used throughout the pages.
   Pad the body because of the fixed nav bar. */
* {
    box-sizing: border-box;
}

body {
    padding-top: 50px;
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", sans-serif;
}

.page-title {
    color: #aaa;
}

.strong {
    font-weight: bold;
}

.italicize {
    font-style: italic;
}

.accent-color {
    color: #ff6922;
}

/* Staggered list - achieved by skewing the ul by n degrees, and the li by -n degrees. */
.staggered-list {
    transform: skew(45deg);
    margin-left: 10%;
}

.staggered-list > li {
    transform: skew(-45deg);
}

/* Bootstrap overrides for color scheme. */
.navbar-default, .navbar-collapse {
    color: #aaa;
    border-color: #aaa;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: #aaa;
}

.navbar-default .navbar-toggle {
    border-color: #aaa;
}

hr {
    border-top: 1px solid #aaa;
}

blockquote {
    border-color: #aaa;
}

/* Link styling. */
a:link, a:visited {
    color: black;
}

a:hover, a:active {
    color: #ff6922;
    text-decoration: none;
}

/* Menu bar formatting. */
.navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
}

#brand-subtitle {
    font-size: 69%;
}

.nav-divider-left-md {
    border-left: 1px solid #aaa;
}

.nav-divider-right-md {
    border-right: 1px solid #aaa;
}

/* Menu bar overrides for mobile. */
@media screen and (max-width: 767px) {
    .nav-divider-left-md {
        border-left: inherit;
    }

    .nav-divider-right-md {
        border-right: inherit;
    }

    .nav-divider-bottom-xs {
        border-bottom: 1px solid #aaa;
    }
}

/* Styling specific to the Welcome page. */
#welcome-page {
    overflow: hidden;
}

#welcome-page h3,
#welcome-page p,
#welcome-page > div > ul > li {
    font-size: 250%;
}

#welcome-page ul > li > ul > li {
    font-size: 75%;
}

#welcome-page img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.fly-in {
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

.fly-in-left.waiting {
    transform: translateX(-105%);    /* Rounded up due to ul skew. */
}

.fly-in-bottom.waiting {
    transform: translateY(100vh);
}

/* Styling specific to the Developer page. */
#four-logos {
    max-width: 100%;
}

.developer-image {
    max-width: 48%;
    margin-top: 3vh;
}

/* Styling specific to the Skills page. */
#skills th, #skills td, #skills p {
    padding-left: 2em;
}

.skills-image {
    max-width: 40%;
    margin-left: 5%;
    margin-bottom: 3vh;
}

/* Styling specific to the Experience page. */
.experience-image {
    max-width: 40%;
    margin-left: 5%;
}

/* Styling specific to the Projects page. */
.project-img {
    max-width: 100%;
}

.paragraph-head {
}

/* Styling specific to the Musician page. */
.col-xs-12 .col-xs-12 {
    padding: 0;
}

.album-cover img {
    height: 250px;
    width: auto;
    max-width: 250px;
    overflow: hidden;
}

.album-contents img {
    height: 25px;
    width: 25px;
}

.album-contents table,
.album-contents th,
.album-contents td {
    border: 1px solid black;
    padding: 0 0.2em;
}

/* Styling specific to the Actor page. */
.role-img {
    width: 100%;
}

.role {
    font-weight: bold;
}

.play-title {
    font-style: italic;
}

/* Styling specific to the Foodie page. */
.foodie-img {
    width: 100%;
    height: auto;
}

/* Styling for Contact Me section. */
#contact-me p {
    font-size: 150%;
}

#contact-table img {
    height: 30px;
    margin-bottom: 8px;
}

#contact-table td {
    font-size: 125%;
    padding-left: 1em;
}
